-- ADR Form the right tenant visibility

-- Create the strict policy
CREATE OR REPLACE FUNCTION public.get_my_tenant_id()
RETURNS UUID
LANGUAGE plpgsql
SECURITY DEFINER
STABLE
SET search_path = public
AS $$
BEGIN
  RETURN (SELECT tenant_id FROM public.profiles WHERE id = auth.uid());
END;
$$;

-- Drop existing policies that might conflict
DROP POLICY IF EXISTS "ADR Formlarını Görme Yetkisi" ON public.adr_forms;
DROP POLICY IF EXISTS "Kullanıcı Kendi Formlarını Görür" ON public.adr_forms;
DROP POLICY IF EXISTS "Cevapları Görme" ON public.form_answers;
DROP POLICY IF EXISTS "Kullanıcı Kendi Cevaplarını Görür" ON public.form_answers;
DROP POLICY IF EXISTS "Medya Görme" ON public.form_media;
DROP POLICY IF EXISTS "Kullanıcı Kendi Medyasını Görür" ON public.form_media;
DROP POLICY IF EXISTS "ADR Formu Güncelleme - Personel" ON public.adr_forms;


-- 1. Create single definitive SELECT policy for adr_forms (No Admin Bypass)
CREATE POLICY "ADR Formlarını Görme Yetkisi" ON public.adr_forms
FOR SELECT USING (
    company_id = public.get_my_tenant_id()
);

-- 2. Create single definitive SELECT policy for form_answers 
CREATE POLICY "Cevapları Görme" ON public.form_answers
FOR SELECT USING (
    EXISTS (
        SELECT 1 FROM public.adr_forms f
        WHERE f.id = form_answers.form_id
        AND f.company_id = public.get_my_tenant_id()
    )
);

-- 3. Create single definitive SELECT policy for form_media
CREATE POLICY "Medya Görme" ON public.form_media
FOR SELECT USING (
    EXISTS (
        SELECT 1 FROM public.adr_forms f
        WHERE f.id = form_media.form_id
        AND f.company_id = public.get_my_tenant_id()
    )
);

-- 4. Allow personnel to update 'rejected' forms too
CREATE POLICY "ADR Formu Güncelleme - Personel" ON public.adr_forms
FOR UPDATE USING (
    auth.uid() = user_id AND status IN ('pending', 'rejected')
);

-- Ensure RLS is enabled
ALTER TABLE public.adr_forms ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.form_answers ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.form_media ENABLE ROW LEVEL SECURITY;

NOTIFY pgrst, 'reload schema';
